# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse / IntelliJ / VS Code
*.iml
.idea/
.project
.classpath
.settings/
.vscode/

# Compiled class file
*.class

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db